* {
	box-sizing: content-box;
}

body{
	margin: 0;
	padding: 5;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: skyblue;
	color: black;
	padding: 5;
}

.brand-title {
	font-size: 2rem;
	margin: .5rem;
}

.navbar-links ul{
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: blink;
	color:oldlace ;
	padding: 2rem;
	display: inline-flex;
}
.navbar-links li:hover {
	background-color: black;
}

.toggle-button {
	position: fixed;
	top: .75rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: yellow;
	border-radius: 10px;
}

body {
	background-color:blueviolet;
}

.footer{
	background-color: yellow;
	text-align: center;
	padding: 40px;
}

body{
	width: 100%;
	height: 100vh;

}

.container{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 100px 100px;
}

.container:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: vlur(50px);
}

.contact-box{
	max-width: 50px;
	display: table-footer-group;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 5px 5px 19px 5px rgba(0,0,0.19);

}


.left{
	height: 100%;
	background-size: cover;
}

.right{
	padding: 25px 40px;
}

.field{
	width: 100% ;
	padding: 0.5rem 1rem ;
	outline: none ;
	border: 2px solid rgba'0, 0,;
	background-color: ;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s ;
}

.field:hover{
	background-color: rgba(0,0,0,0.1);
}

.field:focus{
	background-color: #fff;
	border: 2px solid rgba(30,85,250,0.47);
}

.area{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	background-color: #2ecc71;
	cursor: pointer;
	outline: none;
	border: none;
	transition: .3s;
}

.btn:hover{
	background-color: #27ae60;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}

	.left{
		height: 200px;
	}
}


h1{
	color: #3696dc;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
}

p{
	font-size: 20px;
	line-height: 28px;

}

.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.column{
	margin: 0 15px 25px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 1.12),
	0 1px 2px rgba (0, 0, 0.24);
	background: #fff;
	border-radius: 10px;
	background-color: blueviolet;
}

.card{
	padding: 15px 25px;
}

#port.jpg{
	float: right;
}

.column {
	width: 40%;
	height: 900px;
	float: left;
}

*{
	margin: 0px;
	padding: 0px;
	font-family: poppins;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: poppins;
}
.column {
	float: left;
	width: 33.33%;
	padding: 10px;
	height: 300px;
}

/* clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px) {
	.column {
		width:  100%;
	}
}

h3{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: red;
}
.column{
	style="background-color:#aaa;"
}